<%= form_for @attraction do |f|%>
  <p>Name: <%= f.text_field :name %></p>
  <p>Min Height: <%= f.number_field :min_height %></p>
  <p>Happiness Rate: <%= f.number_field :happiness_rating %></p>
  <p>Nausea Rate: <%= f.number_field :nausea_rating %></p>
  <p>Tickets: <%= f.number_field :tickets %></p>
  <%= f.submit submit%>
<% end %>
